:root {
  --primary-brand: #4d5ae5;
  --pressed-state: #404bbf;
  --dark: #2e2f42;
  --success: #31d0aa;
  --text: #434455;
  --subtitle-text: #8e8f99;
  --accent: #e7e9fc;
  --light: #f4f4fd;
  --modal-overlay: #2e2f42;
  --hero-background: #2e2f42;
  --white-background: #ffffff;
  --modal-background: #fcfcfc;
}

*,
::before,
::after {
  box-sizing: border-box;
}

body {
  background-color: var(--white-background);
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.02em;
  line-height: 24px;
  color: var(--text);
  /*max-width: 1440px;
  margin: 0 auto;*/
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}

.list {
  list-style-type: none;
}

button {
  cursor: pointer;
  font-family: inherit;
  color: currentColor;
}

input {
  font-family: inherit;
}

/*====Header====*/

.header {
  background-color: var(--white-background);
  border-bottom: 1px solid var(--accent);
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container {
  max-width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}

.header-nav {
  display: flex;
  align-items: center;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.54px;
  text-transform: uppercase;
  text-decoration: none;
  align-items: center;
  padding-top: 24px;
  padding-bottom: 24px;
  margin-right: 76px;
}

.logo {
  color: var(--primary-brand);
}

.logo .some-class {
  color: var(--dark);
}

/*====Navigation menu====*/

.navigation-list {
  display: flex;
  gap: 40px;
  align-items: center;
}
.nav-link {
  color: var(--dark);
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.32px;
 /* list-style-type: none;
  text-decoration: none;*/
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.navigation-list .nav-link:hover,
.navigation-list .nav-link:focus {
  color: var(--pressed-state);

}

.nav-link.active::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  background-color: var(--pressed-state);
  border-radius: 2px;
  bottom: -1px;
  left: 0;
}

.nav-link.active{
  color: var(--pressed-state);
}




.navigation-list .nav-link:active {
color: var(--pressed-state);
}




/*====address====*/

.list {
  display: flex;
  align-items: center;
  gap: 40px;
}

.address-list {
  font-style: normal;
}

.address-link {
  text-decoration: none;
  line-height: 1.5;
  letter-spacing: 0.32px;
  font-style: normal;
  color: var(--text);transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.list .address-link:active {
  color: var(--pressed-state);
}

.list .address-link:hover,
.list .address-link:focus {
  color: var(--pressed-state);
}

/* ====Hero====*/

.hero {
  background-color: var(--hero-background);
  padding: 188px 0;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: 0 auto;
}



.hero-title {
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 1.12px;
  text-align: center;
  color: var(--white-background);
  max-width: 496px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 48px;
}
/*====Button====*/
.btn-order {
  font-family: "Roboto", sans-serif;
  color: var(--white-background);
  background-color: var(--primary-brand);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  display: block;
  min-width: 169px;
  height: 56px;
  padding: 16px 32px;
  border-radius: 4px;
  border: none;
  margin: 0 auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn-order:hover,
.btn-order:focus {
  background-color: var(--pressed-state);
}

/*====section-2====*/

/* Our Preference */

.section-two {
  padding-top: 120px;
  padding-bottom: 120px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.list-preferences {
  display: flex;
  gap: 24px;
}

.item-preferences {
  flex-basis: calc((100% - 72px) / 3);
}

.section-two-icons {
  border-radius: 4px;
  border: 1px solid var(--subtitle-text);
  background-color: var(--light);
  display: flex;
  margin-bottom: 8px;
  align-items: center;
  justify-content: center;
  height: 112px;
}

.subtitle {
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.4px;
  color: var(--dark);
  margin-bottom: 8px;
}
.subtitle .text {
  line-height: 24px;
  letter-spacing: 24px;
  color: var(--text);
}

/*===Our team===*/
.team {
  background-color: var(--light);
  padding-top: 120px;
  padding-bottom: 120px;
}

.team .title-text {
  color: var(--dark);
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.72px;
  text-transform: capitalize;
  text-align: center;
  margin-bottom: 72px;
}

.team-list {
  display: flex;
  gap: 24px;
}

.team-foto {
  background-color: var(--white-background);
  border-radius: 0px 0px 4px 4px;
  flex-basis: calc((100% - 72px) / 4);
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

/*.team-foto :hover ,
.team-foto :focus {
box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}*/

.employee-characteristics {
  padding: 32px 0;
}

.team-list .subtitle {
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.4px;
  text-align: center;
  margin-bottom: 8px;
  color: var(--dark);
}

.team-list .text {
  line-height: 24px;
  letter-spacing: 0.32px;
  text-align: center;
  color: var(--text);
  margin-bottom: 8px;
}

.social-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}
.social-item {
  width: 40px;
  height: 40px;
  
}

.social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background-color: var(--primary-brand);
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover, 
.social-link:focus {
  background-color:var(--pressed-state);
}

.social-icon {
  fill: var(--light);
}








/*===Portfolio===*/
/*===Foto-list===*/

.portfolio-section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.portfolio-title {
  color: #2e2f42;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.foto-list {
  display: flex;
  flex-wrap: wrap;
  gap: 48px 24px;
}

.portfolio-item {
 flex-basis: calc((100% - 48px) / 3);
 transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }

 .portfolio-item:hover {
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
  0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
 }

.portfolio-item-description {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.foto-list .title-text {
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.4px;
  color: var(--dark);
  margin-bottom: 8px;
}
.foto-list .text {
  line-height: 24px;
  letter-spacing: 0.32px;
  color: var(--text);
}

.foto-link {
  text-decoration: none;
}

.product-img{
  position: relative;
  overflow: hidden;
  }

.text-overlay {
  position: absolute;
  inset: 0;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 40px 32px;
  height: 100%;
  background-color: var(--primary-brand);
  color: var(--light);
}

.portfolio-item:hover .text-overlay {
  transform: translateY(0);

}

/*===Footer===*/

.footer-container {
display: flex;
align-items: baseline;
}

.footer-logo-text {
  margin-right: 120px;
}


.footer {
  background-color: var(--dark);
  padding-top: 100px;
  padding-bottom: 100px;
}

.footer-logo {
  color: var(--primary-brand);
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  display: inline-block;
  margin-bottom: 16px;
}
.footer .some-class {
  color: var(--light);
}

.footer .text {
  line-height: 24px;
  letter-spacing: 0.32px;
  color: var(--light);
  max-width: 264px;
}

/*===Social-icons===*/

.text-social {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--white-background);
  margin-bottom: 16px;

}

.footer-social-list {
  display: flex;
  justify-content: center;
  gap: 16px;
}

.footer-social-item {
  width: 40px;
  height: 40px;
}

.footer-social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: var(--primary-brand);
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-link:hover {
background-color: var(--success);
}

.footer-social-link:focus {
  background-color: var(--success);
}

.footer-social-icon {
  fill: var(--light);
}

/*====Modal window===*/

.backdrop {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.40);
  top: 0;
  left: 0;
  border-radius: 4px;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
  visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-open {
  display: block;
}

.modal {
width: 408px;
min-height: 584px;
background-color: var(--modal-background);
border-radius: 4px;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
padding: 72px 24px 24px 24px;
box-shadow:0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.modal-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--accent);
  border: 1px solid rgba(0, 0, 0, 0.1); 
  border-radius: 50%;
  width: 24px;
  height: 24px;
  padding: 0;
  position: absolute;
  right: 24px;
  top: 24px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.modal-btn:hover,
.modal-btn:focus {
  background-color: var(--pressed-state);
  border: none;
  fill: #ffffff;
}


.modal-btn-icon {
color: var(--modal-overlay);
transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.modal-title {
  font-size: 16px;
  margin-bottom: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-weight: 500;
  text-align: center;
  color: var(--dark);
}


.input-modal {
  width: 100%;
  height: 40px;
  padding-left: 38px;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.40) ;
  background-color: transparent;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}



.input-modal:focus {
  border-color: var(--primary-brand);
}

.input-modal:focus + .svg-input {
  fill:var(--primary-brand);
}

  
.form-label {
  display: block;
  font-size: 12px;
  font-weight: 400px;
  line-height: 1.17em;
  letter-spacing: 0.48px;
  margin-bottom: 4px;
  color:#8e8f99;
  
}

.div-form {
  position: relative;
  margin-bottom: 8px;
}

.div-form-textarea {
  margin-bottom: 16px;
}



.svg-input {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.textarea-form {
  width: 360px;
  height: 120px;
  resize: none;
  display: block;
  padding: 8px 16px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  border-radius: 4px;
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.4);
  background-color: transparent;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.textarea-form:focus {
  border-color: var(--primary-brand);
}

.textarea-form::placeholder {
  color: rgba(46, 47, 66, 0.4);
}


.checkbox-section {
  margin-bottom: 24px;
}

.checkbox-section .icon-wrapper {
  display: inline-flex;
  border-radius: 2px;
  margin-right: 8px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  width: 16px;
  height: 16px;
  align-items: center;
  justify-content: center;
  fill: transparent;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox-section label {
  
  gap: 8px;
}

.checkbox-section .icon {
  opacity: 0;
  display: flex;
}

.checkbox-section .checkbox:checked + label .icon-wrapper {
  border: none;
  background-color:var(--pressed-state);
  fill: var(--light);
}

.checkbox-section .checkbox:checked + label .icon {
  opacity: 1;
}

.checkbox-section .caption {
  font-size: 12px;
  line-height: 1.17;
  display: block;
  letter-spacing: 0.48px;
  color: var(--subtitle-text);
}

.checkbox-section .caption-link {
  color: var(--primary-brand);
  font-size: 12px;
  line-height: 1.33;
  text-decoration-line: underline;
}

.hero-button {
  display: block;
  color:var(--white-background);
  background-color: var(--primary-brand);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  margin: 0 auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe {
  margin-left: auto;
}

.title-subscribe {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--white-background);
  margin-bottom: 16px;
}

.subscribe-form {
  display: flex;
  gap: 24px;
}

.subscribe-form-input {
  min-width: 264px;
  height: 40px;
  border-radius: 4px;
  border: 1px solid var(--white-background);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  background-color: transparent;
  color: var(--white-background);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; 
  letter-spacing: 0.48px;
  padding: 8px 16px;
}

.subscribe-form-input::placeholder {
  color: var(--white-background);
}

.subscribe-form-button {
  display: flex;
  background-color: var(--primary-brand);
  border-radius: 4px;
  border: none;
  color: var(--white-background);
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px; 
  letter-spacing: 0.64px;
  padding: 8px 24px;
  min-width: 165px;
  height: 40px;
  justify-content: center;
  align-items: center;
}

.subscribe-icon {
  margin-left: 16px;
}







