*,
::before,
::after {
box-sizing: border-box;
}

body {
  background-color: var(--white-background);
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.02em;
  line-height: 24px;
  color: var(--text);
}

a {
    text-decoration: none;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    margin: 0;
    padding: 0;
  }
  
  ul {
    margin: 0;
    padding-left: 0;
    list-style: none;
  }
  
  img {
    display: block;
    max-width: 100%;
  }
  
  .list {
    list-style-type: none;
  }
  
  button {
    cursor: pointer;
    font-family: inherit;
    color: currentColor;
  }
  
  input {
    font-family: inherit;
  }

  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
  