:root {
  --primary-brand: #4d5ae5;
  --pressed-state: #404bbf;
  --dark: #2e2f42;
  --success: #31d0aa;
  --text: #434455;
  --subtitle-text: #8e8f99;
  --accent: #e7e9fc;
  --light: #f4f4fd;
  --modal-overlay: #2e2f42;
  --hero-background: #2e2f42;
  --white-background: #ffffff;
  --modal-background: #fcfcfc;
}


*,
::before,
::after {
box-sizing: border-box;
}

body {
  background-color: var(--white-background);
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.02em;
  line-height: 24px;
  color: var(--text);
}

a {
    text-decoration: none;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    margin: 0;
    padding: 0;
  }
  
  ul {
    margin: 0;
    padding-left: 0;
    list-style: none;
  }
  
  img {
    display: block;
    max-width: 100%;
  }
  
  .list {
    list-style-type: none;
  }
  
  button {
    cursor: pointer;
    font-family: inherit;
    color: currentColor;
  }
  
  input {
    font-family: inherit;
  }

  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

  /*Mobile-styles*/
.container {
max-width: 320px;
padding: 0 16px ;
margin: 0 auto;
}

/*===Mobile Header styles===*/
.navigation-list {
  display: none;
}

.list {
  display: none;
}

/*.header-nav {
  display: flex;
  align-items: center;
}*/

.logo {
color: var(--primary-brand);
font-family: "Raleway", sans-serif;
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: 1.17em;
letter-spacing: 0.54px;
text-transform: uppercase;
}

.logo .some-class {
  color: var(--dark);
}

/*===Mobile Header styles===*/

@media screen and (min-width:768px){.container
  {max-width:768px;}
}

@media screen and (min-width:1158px){.container
  {max-width: 1158px;
  padding: 0 15px;}
}